html {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    
    }

    
    body {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #F6F6F6;
        margin: 0;
        height: 100vh;
        justify-content: space-evenly;
    }

    .nav {
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #F6F6F6;
        position: fixed;
        z-index: 2000;
        width: 100%;
    }

    #floatingdiv {
        position: fixed;
    
        right: 30px;
        bottom: 30px;
    
        z-index: 3000;
    
        transform: translateY(60px);
        opacity: 0;
        transition: 0.6s cubic-bezier(0.2, 0.68, 0.36, 1.15)
     
      }

      #floating_circlebutton {

       transform: none; 

       /* box-shadow: 0 7px 43px 0 hsla(350, 0%, 61%, 0.15); */
        transition: 0.8s cubic-bezier(0.2, 0.8, 0.21, 1.1) !important;
      }

    a {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    .nav > a > svg {
        fill: #7C7C7C;
        
    }

    .nav a {
        margin: 10px 0px;
    }

    .inline-btn {
        color: #2cb1be;
        text-decoration: none;
        cursor: pointer;
    }

    .inline-link {
        text-decoration: none;
        cursor: pointer;
    }

    .important-text {
        color: #2cb1be;
        text-decoration: none;
        cursor: pointer;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    

    .endheader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .midheader {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px 0px;
    }

    .topheader {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .symbol {
        transform: scale(1.5);
    }

    .symbol svg {
        fill: #D1AA69;
       
    }

    

    

    .slash {
        position: relative;
        bottom: 1px;
    }


    .link {
        color: rgb(0,122,255);
        text-decoration: none;
    }

    .linkicon {
        position: relative;
        bottom: -2px;
        margin-right: 5px;
        
        
    }

    .linkicon img {
        margin: 0px 2px;
        max-width: 18px;
        fill: #999999;
    }

    .mattfrias {
        max-width: 225px;
    }

    .header_bio {
        display: flex;
        flex-direction: column;
    }

    .section {
        display: flex; 
        flex-direction: column; 
        justify-content: space-evenly; 
        align-items: center; 
    }

    .bio {
        background-color: rgba(255, 255, 255, 0.7);
        min-width: 350px;
        z-index: 1;
        padding: 40px 0px;
        max-width: 400px;
        border-radius: 15px;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.02);

        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);





      
    }

    .bio > p {
        margin: 0px 40px;
        text-align: center;
    }

    .tldr {
        margin-top: 20px;
        color: #333333;
        font-weight: 500;
    }
    .hashtags {
        margin: 30px 0px 0px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
    }

    .hashtag {
        color: #585858;
        background-color: white;
        border-radius: 5px;
        padding: 8px 12px;
        font-weight: 500;
        margin: 5px;
    }

    .tag {
        color: #999999;
        font-weight: 400;
    }

    .mypicture {
        display: none;
        max-width: 70px;
        margin: 0px 0px 30px 0px;
    }

   

    h2 {

        text-align: center;
        font-size: 18px;
        font-weight: 400;
        color: #333333;
        margin: 20px 0px 30px 0px;
      

    }

    h1 {

        text-align: center;
        font-size: 30px;
        font-weight: 300;
        color: #333333;
        letter-spacing: 2px;
        margin: 20px 0px;
      

    }

    p {
        font-size: 16px;
        color: #999999;
        letter-spacing: 0px;
        line-height: 25px;
        margin: 0;
        font-weight: 500;
    
    }

    .rounded {

        padding: 10px 32px 11px 32px;
        background-color: #353535;
        color: #F6F6F6;
        border-radius: 50px;
    }

    .circle {
        
        display: none;
        padding: 15px;
        transform: translateY(-3vh);
        background-color: white;
        border-radius: 100px;
        animation: move 1s linear;
        height: 14px;
       
        
       
        
    }

    .circle > img {
        display: block;
      }


    .bold {
        color: #333333;
        font-weight: 600;
       
    }

    

    .socialsection {
        margin: 27px 0vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        max-width: 400px;
    }

    .socialsection h1 {
        color: #333333;
    }

    .socialdiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        -webkit-transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1.2);
        transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1.2);
        
    }


    .social {
        display: flex;
        align-items: center;
     
        background-color: #7C7C7C;
        padding: 10px 12px;
        margin: 7px;
        border-radius: 5px;
        text-decoration: none;
        -webkit-transition: 0.4s cubic-bezier(0.2, 0.8, 0.2, 1.2);
        transition: 0.4s cubic-bezier(0.2, 0.8, 0.2, 1.2);

    }



    .iconsocial {
        -webkit-transition: 0.7s cubic-bezier(0.2, 0.8, 0.2, 1.2);
        transition: 0.7s cubic-bezier(0.2, 0.8, 0.2, 1.2);
    }

    .social:hover {
       -webkit-transform: scale(1.02);
        transform: scale(1.02);
        opacity: 1;
    }

    .social:active {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        opacity: 0.8;
    }

    .social:hover .iconsocial {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
    }

    .social:hover p {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
    }

    .social:hover .transparent {
        opacity: 0.5;
    }


    .social:active .iconsocial {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    .social:active p {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    .social p {
        margin: 0px auto;
        color: unset;
        font-weight: 500;
        font-size: 14px;
        -webkit-transition: 0.7s cubic-bezier(0.2, 0.8, 0.2, 1.2);
        transition: 0.7s cubic-bezier(0.2, 0.8, 0.2, 1.2);
    }

    .twitter {
        background: rgba(29,161,242,0.10);
        
    }

    .twitter p {
        -webkit-text-fill-color: rgba(29,161,242); 
        color: rgb(29,161,242) !important ;
    }

    .linkedin {
        background: rgba(0,119,181,0.10);
        
    }

    .linkedin p {
        -webkit-text-fill-color: rgba(0,119,181); 
        color: rgb(0,119,181) ;
    }

    .instagram {
        background: rgba(131,58,180,0.10);
        
    }

    .instagram p {
        -webkit-text-fill-color: rgba(131,58,180); 
        color: rgb(131, 58, 180) ;
    }

    .snapchat {
        background: rgba(249,166,2,0.10);

    }

    .snapchat p {
        -webkit-text-fill-color: rgba(249,166,2); 
        color: rgb(249,166,2);
    }

    .cashapp {
        background: rgba(0, 207, 48,0.10);

    }

    .cashapp p {
        -webkit-text-fill-color: rgba(0, 207, 48); 
        color: rgb(0, 207, 48);
    }

    .stackoverflow {
        background: rgba(252, 119, 0,0.10);

    }

    .stackoverflow p {
        -webkit-text-fill-color: rgba(252, 119, 0); 
        color: rgb(252, 119, 0);
    }

    .mail {
        background: rgba(0,122,255,0.10);
    }

    .mail p {
        color: rgb(0,122,255);
        -webkit-text-fill-color: rgba(0,122,255); 
    }

    .reddit {
        background: rgba(255,69,0,0.10);
    }
    .reddit p {
        color: rgb(255,69,0);
        -webkit-text-fill-color: rgb(255,69,0);
    }

    .github {
        background: rgba(36,41,46,0.10);;
    }

    .github p {
        color: rgb(36,41,46);
        -webkit-text-fill-color: rgb(36,41,46);
    }

    .gitlab {
        background: rgba(252,163,38,0.10);
    }

    .gitlab p {
        color: rgb(226,67,41);
        -webkit-text-fill-color: rgb(226,67,41);
        background: none;
    }

    .social > span  {

        display: inline-flex;
        margin: 0px 10px 0px 0px;
     
    }

    .transparent {
        opacity: 0.4;
        -webkit-transition: 0.4s cubic-bezier(0.2, 0.8, 0.2, 1.2);
        transition: 0.4s cubic-bezier(0.2, 0.8, 0.2, 1.2);

    }

    .inline-btn:hover .social {
        opacity: 0.5;
    }


    @keyframes move {
        
        25%
        {transform: translateY(5px);}
        50%
        {transform: translateY(0px);}
        75%
        {transform: translateY(5px);}
        
      }

      @media only screen and (max-width: 950px){
        body {
            flex-direction: column;
            height: auto;
            justify-content: unset;
        }

        .section {
            padding-top: 100px;
            position: fixed;
        }

        .socialsection {
            width: auto;
            margin: 70px 0vh;
        }

        .bio {
            width: auto;
            margin-top: 400px;
        }



      }

    

      

        @media only screen and (max-width: 670px){

            body {
                flex-direction: column;
            }

            .socialsection {
                width: auto;
                margin: 35px 0;
                padding: 0;
            }

            .section {
                position: fixed; 
                height: 100vh; 
                padding-top: 0; 
            }

            .bio {
                margin-top: 100vh;

            }

            .circle {
                display: block;
            }

        }

        @media only screen and (max-width: 420px){

            .bio {
                border-radius: 0px;
                max-width: none;
                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
            }
    
            .bio > p {
                text-align: left;
            }
    
            .socialsection {
                display: unset;
                margin: 35px 33px;
            }
    
            .socialdiv {
                justify-content: flex-start;
                max-width: none;
            }

            .social:hover {
                -webkit-transform: scale(1);
                 transform: scale(1);
                 opacity: 1;
             }

            .social:active {
                -webkit-transform: scale(0.95);
                transform: scale(0.95);
                opacity: 0.8;
            }

            .social:hover .iconsocial {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
            }
        
            .social:hover p {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
            }

            .circle {
        
                padding: 17px;

                
               
                
            }
        
            .circle > img {
                transform: scale(1.1);
                position: relative;
                top: 1px;
              }
    
    
    
    
          }



        
        @media only screen and (max-height: 420px) and (orientation: landscape) {

            .bio > p {
                margin: 0 40px;
            }

            .section {
                position: fixed;
                height: 100vh;
                padding-top: 0px;

            }

            .socialsection {
                padding: 13px 50px
            }

            .socialdiv {
                max-width: none;
            }

            .header {
                flex-direction: row;
            }

            .midheader {
                margin: 0px 100px;
            }

            .circle {
                display: block;
            }

            .symbol {
                transform: translateY(-8px) scale(2.8);
            }

            .bio {
                margin-top: 100vh;
                min-width: 520px;
            }

        }

        @media only screen and (max-height: 321px) and (orientation: landscape) {


            .symbol {
                transform: translateY(-8px) translateX(25px) scale(2.8);
            }

           

        }


    .semidarkbg {
        background-color: #2d2d2d;
    }

    .darkbg {
    background-color: #252525;
    }

    .darkbgblur {
        background-color: rgba(37, 37, 37, 0.7) !important;

        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);

        
        }

    .darkbold {
        color: #f6f6f6;
    }

    .dark_p_h2 {
        color: #c7c7c7;
    }

    .githubdark {
        -webkit-text-fill-color: rgb(200, 227, 255) !important;
        color: rgb(200, 227, 255) !important;
        background: rgba(200, 227, 255, 0.10)
    }

    .githubdarkspan {
        -webkit-text-fill-color: rgb(200, 227, 255) !important;
        color: rgb(200, 227, 255) !important;
    }

                    


     
        
    

      
    